.welcome{
    box-shadow: 0px 0px 10px rgb(49, 49, 62);
    width: 30%;
    margin: auto;
    margin-top: 10vh;
    padding: 15px;
    border-radius: 10px;
}
.photo{
    box-shadow: 0px 0px 10px blueviolet;
    border-radius: 10px;
    width: 90%;
    height: 30vh;
    margin-left: 20px;
}